$max-wrapper-width: 700px;
$main-bg-color: #37454e;
$main-input-bg-color: #69737c;
$main-padding: 40px;
$main-font: 'Open Sans', sans-serif;

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}
* {
  @include box-sizing(border-box);
}

body, html {
  margin: 0;
  color: #fff;
  background: $main-bg-color;
  font-family: $main-font;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: $max-wrapper-width;
  border: 1px solid white;
  padding: $main-padding;  
}
#form-header{
  display: table;
  font-weight: 700;
  font-size: 26px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -55px;
  margin-bottom: 30px;
  width: auto;
  background: $main-bg-color;
}
form{
  input[type=text], textarea{
    width: 100%;
    background-color: $main-input-bg-color;
    border: 1px solid #999;
    color: white;
    padding: 5px;
  }
  input[type=textarea]{
    height: 80px;
  }
  input[type=checkbox], input[type=radio]{
    margin-right: 10px;
  }
  label{
    display: block;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input:disabled{
    opacity: 0.5;
  }
  input:focus, #btnSubmit:focus, #btnReset:focus{
    outline: none;
  }
  #btnSubmit{
      display: inline-block;
      border: 2px solid white;
      background-color: $main-bg-color;
      color: white;
      font-size: 14px;
      padding: 10px;
      font-weight: 700;
      margin-right: 10px;
      cursor: pointer;
  }

  #btnReset{
      display: inline-block;
      border: none;
      background-color: $main-bg-color;
      color: white;
      font-size: 12px;
      padding: 10px;
      font-weight: 400;
      text-decoration: underline;
      cursor: pointer;
  }
  .heading{
    font-weight: 700;
  }
  #typeOfCakes, #typeOfCelebration{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #errorMessage{
    margin-top: 10px;
    margin-bottom: 20px;
    color: red;
    font-weight: 700;
    font-size: 14px;
  }
}
